---
import MainImgRelative from "../components/Generics/MainImgRelative.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
---

<Layout title="Tienda">
  <main>
    <MainImgRelative
      imageSrc="/img/main-section/banner.jpg"
      alt="Banner Principal"
    />
    <section
      class="max-w-[70%] my-12 mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10"
    >
      {
        recipes.map(async (recipe: { data: any; slug: any }) => {
          const { slug, data } = recipe;
          const { img, category, title, price } = data;

          return (
            <a href={`tienda/receta/${slug}`}>
              <article class="p-8 bg-white rounded-lg shadow-lg transition-transform transform duration-300 hover:scale-105">
                <div class="w-[187px] h-[259px] mx-auto overflow-hidden rounded-md">
                  <img
                    transition:name={`img-store-${slug}`}
                    src={`/img/store/${img}`}
                    alt={title}
                    class="w-full h-full object-cover"
                  />
                </div>
                <h2 class="mt-4 text-xl font-semibold text-gray-800">
                  {category} - {title}
                </h2>
                <h4 class="mt-2 text-lg text-gray-600">
                  <strong>$</strong>
                  {price.toFixed(2)}
                </h4>
                <button
                  type="button"
                  class="mt-4 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600"
                >
                  Ver Info
                </button>
              </article>
            </a>
          );
        })
      }
    </section>
  </main>
</Layout>
